body {
    /* border: 4px solid ; */
    background-color: rgb(190, 152, 162);
    /* background-image: url(pexels-photo-6070384.webp); */
    background-size: cover;
    /* opacity: 0.8; */
    

}

.heyy {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    font-size: 60px;
    color: rgb(17, 15, 16);
}

.container {
    display: grid;
    row-gap: 60px;
    margin-left: 180px;
    grid-template-columns: 440px 440px 440px;
}

.rock {
    display: grid;
    grid-template-columns: 420px 430px 450px;
    margin-left: 85px;
    text-align: center;
    font-size: 30px;
    color: rgb(12, 11, 10);

}

.box {
    font-style: oblique;
    font-weight: bold;
    display: grid;
    color: rgb(45, 9, 9);
    row-gap: 20px;
    text-align: center;
    margin: 50px;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#result {
    color: rgb(57, 22, 138);
    font-size: 70px;
   
}
#computer{
font-size: 50px;
}
#player{
font-size: 50px;
}

.image {
    border-radius: 100px;

}